@model IEnumerable<OfficeSuppliesManagementSystem.Models.Inventory>

@{
    ViewData["Title"] = "库存查询";
}

<h2>@ViewData["Title"]</h2>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-controller="Supply" asp-action="Create">创建新的物品</a>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supply.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supply.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supply.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supply.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">修改</a>
                <label>|</label>
            }
            
            <a asp-action="Details" asp-route-id="@item.Id">详细信息</a>
        </td>
    </tr>
}
</table>
