@using OfficeSuppliesManagementSystem.Utilities
@model OfficeSuppliesManagementSystem.Models.Supply

@{
    ViewData["Title"] = "删除";
}

<h2>@ViewData["Title"]</h2>

<h3>确认删除该物品吗？</h3>
<div>
    <h4>物品信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Model.Type.GetDisplayName()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Model.Province.GetDisplayName()
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index">返回列表</a>
        </div>
    </form>
</div>
