@model OfficeSuppliesManagementSystem.Models.Supply

@{
    ViewData["Title"] = "详细信息";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>物品详细</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("Administrator"))
    {
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> <label>|</label>
    }
    <a asp-action="Index">返回列表</a>
</p>
